.navbar .brand { 
	max-height: 40px; 
	overflow: visible; 
	padding-top: 0; 
	padding-bottom: 0; 
}

.collapse.in {
	height: 10px;
	overflow: visible;
}

.panel-group .panel {
    overflow: visible;
}

