.navbar .brand { 
	max-height: 40px; 
	overflow: visible; 
	padding-top: 0; 
	padding-bottom: 0; 
}

.collapse.in {
    display:block;
	overflow: visible;
}

.panel-group .panel {
    overflow: visible;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
