include LICENSE
include README.rst
recursive-include ./bin *
prune *.pyc
recursive-include flask_appbuilder/static *
recursive-include flask_appbuilder/templates *
recursive-include flask_appbuilder/translations *
