black==19.3b0
coverage==5.5
flake8-import-order==0.18.1
flake8==3.9.2
hiro==0.5.1
jmespath==0.9.5
mypy==0.910
mypy-extensions==0.4.3
mockldap>=0.3.0
nose==1.3.7
parameterized==0.8.1
pip-tools==6.8.0
tox==3.24.3
types-PyYAML==6.0.12.2
