sphinxcontrib-blockdiag>=1.5.0
sphinx-rtd-theme>=0.2.4
colorama>=0.3
click>=3.0
Flask>=0.12,<2
Flask-Babel>=0.11.1,<1
Flask-Login>=0.3,<0.5
Flask-OpenID>=1.2.5,<2
Flask-SQLAlchemy>=2.3,<3
Flask-WTF>=0.14.2,<1
flask-marshmallow==0.9.0
Flask-JWT-Extended>=3.18,<4
marshmallow==2.18.0
marshmallow-sqlalchemy==0.15.0
prison==0.1.0
apispec==1.1.1
jsonschema==3.0.1
PyJWT>=1.7.1
