<!-- extend base layout -->
{% extends "appbuilder/base.html" %} {% block content %}

<div class="container login-box">
  <!-- <div class = 'blured-bg'></div> -->
  <div class = 'bg-custom'></div>
  <div id="loginbox" class="mainbox col-md-6 col-sm-8">
    <div class= "content-inside-loginbox">
      <img src= {{ url_for( 'static', filename='appbuilder/img/datana-explorer-logo.svg' )}}/>
      <div class="panel-body input-box">
        <form class="form" action="" method="post" name="login">
          {{form.hidden_tag()}}
          <div class="control-group{% if form.errors.openid %} error{% endif %}">
            <div class="controls">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span> {{ form.username(size = 80, class = "form-control", placeholder = 'Username') }}
              </div>
              {% for error in form.errors.openid %}
              <span class="help-inline">[{{error}}]</span><br> {% endfor %}
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span> {{ form.password(size = 80, class = "form-control", placeholder = 'Password') }}
              </div>
              {% for error in form.errors.openid %}
              <span class="help-inline">[{{error}}]</span><br> {% endfor %}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <br>
              <input class="btn btn-primary-explorer btn-block" type="submit" value="{{_('Sign In')}}">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
