<!-- extend base layout -->
{% extends "appbuilder/base.html" %}

{% block content %}

<script type="text/javascript">

    var baseLoginUrl = "{{appbuilder.get_url_for_login}}";
    var baseRegisterUrl = "{{appbuilder.get_url_for_login}}";
    var next = "?next={{request.args.get('next', '')}}"

    var currentSelection = "";

    function set_openid(pr) {
        $('.provider-select').removeClass('fa-black');
        $('#' + pr).addClass('fa-black');
        currentSelection = pr;
    }


    function signin() {
        if (currentSelection != "") {
            window.location.href = baseLoginUrl + currentSelection + next;
        }
    }

    function register() {
        if (currentSelection != "") {
            window.location.href = baseRegisterUrl + currentSelection + '/register' + next;
        }
    }

    set_openid("{{provider.name}}")

</script>

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">{{ title }}</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div>
                    <br></br>
                    <a onclick="signin();" class="btn btn-primary btn-block" type="submit">{{_('Sign In')}}</a>
                    {% if appbuilder.sm.auth_user_registration %}
                    <a onclick="register();" class="btn btn-block btn-primary" data-toggle="tooltip" rel="tooltip"
                        title="{{_('If you are not already a user, please register')}}">
                        {{_('Register')}}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}