<!-- extend base layout -->
{% extends "appbuilder/base.html" %} {% block content %}
<script>
  $(document).ready(function() {
    function onFocus(e) {
      let username = $('#username').val()
      let password = $('#password').val()
      if (username.length > 0 && password.length > 0) {
        $('#submit-login').removeAttr('disabled')
      } else {
        $('#submit-login').attr('disabled', 'disabled')
      }
    }
    function onChange() {
      let username = $('#username').val()
      let password = $('#password').val()
      if (username.length > 0 && password.length > 0) {
        $('#submit-login').removeAttr('disabled')
      } else {
        $('#submit-login').attr('disabled', 'disabled')
      }
    }
    $('#username').bind('input', onFocus)
    $('#password').bind('input', onFocus)
    $('#username').keyup(onChange)
    $('#password').keyup(onChange)
  })
</script>
<div class="container login-box">
  <div class = "bg-custom"></div>
  <div id="loginbox" class="mainbox col-md-6 col-sm-8">
    <div class= "content-inside-loginbox">
      <div class = "img-wrapper">
        <img src= {{ url_for( 'static', filename='appbuilder/img/D_Explorer-02.svg' )}}/>
      </div>
      <div class="panel-body input-box">
        <form class="form" action="" method="post" name="login">
          {{form.hidden_tag()}}
          <div class="control-group{% if form.errors.openid %} error{% endif %}">
            <div class="controls">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span> {{ form.username(size = 80, class = "form-control", placeholder = 'Username') }}
              </div>
              {% for error in form.errors.openid %}
              <span class="help-inline">[{{error}}]</span><br> {% endfor %}
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key"></i></span> {{ form.password(size = 80, class = "form-control", placeholder = 'Password') }}
              </div>
              {% for error in form.errors.openid %}
              <span class="help-inline">[{{error}}]</span><br> {% endfor %}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <br>
              <input id="submit-login" class="btn btn-primary-explorer btn-block" type="submit" value="{{_('Sign In')}}" disabled="disabled">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
