<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{[titleText]}</h4>
      </div>
      <div class="modal-body">
        <p>{[bodyText]}</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="clickCancel()" class="btn btn-default" data-dismiss="modal">{[cancelText]}</button>
        <button type="button" ng-click="clickOk()" class="btn btn-primary">{[okText]}</button>
      </div>
    </div>
  </div>
</div>

