{% extends 'appbuilder/baselayout.html' %}


{% block head_js %}
{{ super() }}
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>

<script type="text/javascript">
var can_show = {{ "true" if "can_show" | is_item_visible(modelview_name) else "false" }};
var can_add = {{ "true" if "can_add" | is_item_visible(modelview_name) else "false" }};
var can_edit = {{ "true" if "can_edit" | is_item_visible(modelview_name) else "false" }};
var can_delete = {{ "true" if "can_delete" | is_item_visible(modelview_name) else "false" }};
var base_url = "{{ url_for(modelview_name + ".api") }}";
var show_url = "{{ url_for(modelview_name + ".show", pk="") }}";
var add_url = "{{ url_for(modelview_name + ".add") }}";
var edit_url = "{{ url_for(modelview_name + ".edit", pk="") }}";
var delete_url = "{{ url_for(modelview_name + ".delete", pk="") }}";
var modelview_name = "{{modelview_name}}";
var page_size = "{{page_size}}";
</script>

<script src="{{url_for('static',filename='js/app.js')}}"></script>
<script src="{{url_for('static',filename='js/Services/modelRestService.js')}}"></script>
<script src="{{url_for('static',filename='js/Controllers/TableCrtl.js')}}"></script>
<script src="{{url_for('static',filename='js/Directives/btnDirectives.js')}}"></script>

{% endblock %}


{% block content %}
{% include 'appbuilder/general/confirm.html' %}
{% include 'appbuilder/general/alert.html' %}

{{ super() }}


<div  ng-app="FAB" >
<div ng-controller="TableCtrl">

    <input class=" filter_val form-control" ng-model='filter' id="name" name="_flt_0_name" placeholder="Name" type="text" value="">

    <div class="well well-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                {{_('Page size')}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="page_size_elem in range(5,35,5)" ng-class="{active: page_size == page_size_elem}">
                                <a href="#" ng-click="page_size = page_size_elem">{[page_size_elem]}</a>
                            </li>
                </ul>
            </div>

        	&nbsp;
            <btn-add ng-if="can_add" url={[add_url]} tip-text="{{_('Add a new record')}}"></btn-add>
        <div class="pull-right">
			<strong>{{ _('Record Count') }}:</strong> {[ data.count ]}
		</div>
    </div>

    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead id="thead">
        <tr>
        <th class="col-md-1 col-lg-1 col-sm-1" ></th>
        <th ng-repeat="col in data.list_columns">
            <a href="#" ng-click="orderClick(col)">{[data.label_columns[col];]}
                <i ng-if="getOrderType(col) == 2" class="fa fa-chevron-up pull-right"></i>
                <i ng-if="getOrderType(col) == 1" class="fa fa-chevron-down pull-right"></i>
                <i ng-if="getOrderType(col) == 0" class="fa fa-arrows-v pull-right"></i>
            </a>
        </th></tr>
        </thead>
        <tbody id="tbody">
            <tr ng-repeat="row in data.result">
                <td><center>
                    <div class="btn-group btn-group-xs" style="display: flex;">
                            <btn-show ng-if="can_show" url="{[show_url + data.pks[$index]]}" tip-text="{{_('Show record')}}"></btn-show>
                            <btn-edit ng-if="can_edit" url="{[edit_url + data.pks[$index]]}" tip-text="{{_('Edit record')}}"></btn-edit>
                            <btn-delete ng-if="can_delete" url="{[delete_url + data.pks[$index]]}" tip-text="{{_('Delete record')}}"></btn-delete>

                        <a data-text="{{ _('You sure you want to delete this item?') }}" ng-click="delete(data.pks[$index])" class="btn btn-sm btn-primary confirm" rel="tooltip"
                        title="{{_('Delete record')}}" data-toggle="modal" data-target="#modal-confirm" href="#">
                        <i class="fa fa-eraser"></i>
                        </a>
                    </div>
                </center></td>
                <td ng-repeat="col in data.list_columns">{[row[col] ]}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>


{% endblock %}
