<!-- extend base layout -->
{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
{{ lib.panel_begin(title) }}

{% block edit_form %}
    {{ widgets.get('edit')()|safe }}
{% endblock edit_form %}

{% block related_views %}
    {% if related_views is defined %}
        {% set widget_related_views = widgets.get('related_views') %}
        {% for view in related_views %}
            {% call lib.accordion_tag(view.__class__.__name__,view.title, False) %}
                {% if loop.index0 < widget_related_views|length %}
                    {{ widget_related_views[loop.index0](pk=pk)|safe }}
                {% endif %}
            {% endcall %} 
        {% endfor %}
    {% endif %}
{% endblock related_views %}


{{ lib.panel_end() }}

{% endblock %}

{% block add_tail_js %}
<script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}" nonce="{{ baselib.get_nonce() }}"></script>
{% endblock %}
