{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}

<div class="col-lg-{{ master_div_width}} col-md-{{ master_div_width}} container">
    {{ lib.panel_begin(title) }}
   	        {{ widgets.get('list')()|safe }}
    {{ lib.panel_end() }}
</div>
{% set widget_related_views = widgets.get('related_views') %}
{% for view in related_views %}
    <div class="col-lg-{{ 12 - master_div_width}} col-md-{{ 12 - master_div_width}} container">
        {{ lib.panel_begin(view.list_title) }}
        <div>
            {% if loop.index0 < widget_related_views|length %}
                {{ widget_related_views[loop.index0](pk=pk)|safe }}
            {% endif %}
        </div>
        {{ lib.panel_end() }}
    </div>
{% endfor %}

{% endblock %}
