{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}

        <div class="col-lg-2 col-md-2 container">
            {{ lib.panel_begin(title) }}
       	        {{ widgets.get('list')()|safe }}
            {{ lib.panel_end() }}
        </div>
            {% for view in related_views %}
                <div class="col-lg-10 col-md-10 container">
                {{ lib.panel_begin(view.list_title) }}
                    <div>
                        {{ widgets.get('related_lists')[loop.index - 1](pk = pk)|safe }}
                    </div>
                {{ lib.panel_end() }}
                </div>
            {% endfor %}

{% endblock %}
