{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}

{% block body %}

<div class="wrap"
<div class="container">
  <div class="row">
    	  {% include 'appbuilder/flash.html' %}
          {% block content %}
          {% endblock %}
  </div>
</div>
</div>


{% block footer %}
	<div class="bottom img-rounded fixed-footer">
        	<div class="container">
        		{% include 'appbuilder/footer.html' %}
        	</div>
        </div>
{% endblock %}

	
{% endblock %}

