{% import 'appbuilder/baselib.html' as baselib with context %}

{% if baseapp %}
	{% set app_name = baseapp.app_name %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{app_name}}</title>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
 <!--[if lt IE 9]>
     <script src="{{url_for('baseapp.static',filename='js/html5shiv.js')}}"></script>
     <script src="{{url_for('baseapp.static',filename='js/respond.js')}}"></script>
 <![endif]-->
 
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="{{url_for('baseapp.static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('baseapp.static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{url_for('baseapp.static',filename='css/themes/'+ baseapp.app_theme )}}"  rel="stylesheet">
        <link href="{{url_for('baseapp.static',filename='datepicker/bootstrap-datepicker.css')}}" rel="stylesheet">
        <link href="{{url_for('baseapp.static',filename='select2/select2.css')}}" rel="stylesheet">
        <link href="{{url_for('baseapp.static',filename='css/flags/flags16.css')}}" rel="stylesheet">
        
        <script src="{{url_for('baseapp.static',filename='js/jquery-latest.js')}}"></script>
        <script src="{{url_for('baseapp.static',filename='js/ab_filters.js')}}"></script>
        
        <style>
            .navbar .brand { max-height: 40px; overflow: visible; padding-top: 0; padding-bottom: 0; }
        </style>
    {% endblock %}

</head>

<body>

{% block navbar %}
{{ baselib.navbar_block(baseapp.menu, baseapp.languages) }}
{% endblock %}

{% block body %}
{% endblock %}

{% block tail_js %}
	
    <script src="{{url_for('baseapp.static',filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('baseapp.static',filename='datepicker/bootstrap-datepicker.js')}}"></script>
	<script src="{{url_for('baseapp.static',filename='select2/select2.js')}}"></script>
	
	<script>
		$(document).ready(function() {
		$('.appbuilder_datetime').datetimepicker();
		$('.appbuilder_date').datetimepicker({
                    pickTime: false });
        	$(".my_select2").select2({placeholder: "Select a State", allowClear: true});
        	$("a").tooltip({'selector': '','placement': 'bottom'});
		});
	</script>
{% endblock %}

{% block add_tail_js %}
{% endblock %}


{% block tail %}
{% endblock %}

  </body>
</html>
