


{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}

<nav class="navbar navbar-expand-lg {{menu.extra_classes}}">
{#<div class="navbar {{menu.extra_classes}}" role="navigation">#}
   <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if appbuilder.app_icon %}
                <a class="navbar-brand" href="{{appbuilder.get_url_for_index}}">
                <img src="{{appbuilder.app_icon}}" height="100%" width="auto">
                </a>
            {% else %}
                <span class="navbar-brand">
                <a class="navbar-brand" href="{{appbuilder.get_url_for_index}}">
                {{ appbuilder.app_name }}
                </a>
                </span>
            {% endif %}                
        </div>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% include 'appbuilder/navbar_menu.html' %}
            </ul>
            <ul class="navbar-nav justify-content-end">
                {% include 'appbuilder/navbar_right.html' %}
            </ul>
        </div>
   </div>
</div>
</nav>
