{% import 'appbuilder/general/lib.html' as lib %}

        {% set can_add = "can_add" | is_item_visible(generalview_name) %}
        {% set can_show = "can_show" | is_item_visible(generalview_name) %}
        {% set can_edit = "can_edit" | is_item_visible(generalview_name) %}
        {% set can_delete = "can_delete" | is_item_visible(generalview_name) %}
        
        <div class="well well-sm">
        {{ lib.render_pagination(page, page_size, count, generalview_name) }}
        {{ lib.render_set_page_size(page, page_size, count, generalview_name) }}
        {% if can_add %}
                        {% set path = url_for(generalview_name + '.add',next=request.path) %}
                        {% set path = path | set_link_filters(filters) %}
                        &nbsp;{{ lib.lnk_add(path) }}
                {% endif %}
                {{ lib.lnk_back() }}
        <div class="pull-right">
                        <strong>{{ _('Record Count') }}:</strong> {{ count }}
                </div>
        </div>
        
        {% if value_columns %}
        <div class="container">
        <div class="row">        
                
        {% for item in value_columns %}
        	<div class="col-sm-12 col-md-6 col-lg-6">
                <div class="thumbnail">
                {% set outer_loop = loop %}
                        <div class="btn-group btn-group-xs">
                        {% if can_show %}
                                {% set path = url_for(generalview_name + '.show',pk=pks[loop.index-1],next=request.path) %}
                                {% set path = path | set_link_filters(filters) %}
                                {{ lib.lnk_show(path) }}
                        {% endif %}
                        {% if can_edit %}
                                {% set path = url_for(generalview_name + '.edit',pk=pks[loop.index-1],next=request.path) %}
                                {% set path = path | set_link_filters(filters) %}
                                {{ lib.lnk_edit(path) }}
                        {% endif %}
                        {% if can_delete %}
                                {{ lib.lnk_delete(url_for(generalview_name + '.delete',pk=pks[loop.index-1],next=request.path)) }}
                        {% endif %}
                        </div>
                {% for value in include_columns %}
                        <dl class="dl-horizontal">
                        		<dt>{{label_columns.get(include_columns[loop.index -1])}}</dt>
                                <dd>{{ item[value]|safe }}</dd>                
                        </dl>                        
                {% endfor %}
                
                </div>
        		</div>
        		
        {% endfor %}                        
        </div>
        </div>
        {% else %}
        <b> {{_("No records found")}}</b>
        {% endif %}
