{% import 'appbuilder/general/lib.html' as lib %}

<form class="form-search" method="get">
<div class="table-responsive">
<table class="table table-condensed">

    <div class="btn-group">
  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    		Action <span class="caret"></span>
  	</button>
    <ul class="dropdown-menu" role="menu">
    {% for flt_col in search_filters %}
    <li>
    	<a href="javascript:void(0)" class="filter" onclick="return false;">{{ form[flt_col].label }}</a>
    </li>
    {% endfor %}
    </ul>
    </div>
    
    {% for col in include_cols %}
   		{% set field = form[col] %}
		{% if field.name not in exclude_cols %}
			<tr>{{ lib.render_field_search(field) }}</tr>
		{% endif %}
	{% endfor %}
    
</table>
</div>
{{ lib.btn_search() }}
</form>

<script>
	var filter = new AdminFilters(
                    '#filter_form'
                );
</script>
