{% import 'appbuilder/general/lib.html' as lib %}

<form class="form-search" method="get">
<div class="table-responsive">
<table class="table table-condensed">

    <div class="control-group">
		<div class="control-label">
		  <th class="col-lg-2">{{_('Add Filter')}}</th>
		</div>
		<div class="controls">
		  <td>
    <select class="my_select2 filter" data-placeholder="Select Value" id="group" name="group" style="width:250px">
    <option selected value="__None"></option>
    {% for flt_col in search_filters.keys() %}
        <option value="1">{{ form[flt_col].label }}</option>
    {% endfor %}
    </select>
    </td>
    </div>
    </div>
    
    {% for col in include_cols %}
   		{% set field = form[col] %}
		{% if field.name not in exclude_cols %}
			<tr>{{ lib.render_field_search(field) }}</tr>
		{% endif %}
	{% endfor %}
    
</table>
</div>
{{ lib.btn_search() }}
</form>

<script>
	alert('on');
	$('.filter').select2().on('change', function() {
        	alert('click');
        //return false;
    });
</script>
