{% import 'appbuilder/general/lib.html' as lib %}

<form class="form-search" method="get">
<div class="table-responsive">
<table class="table table-condensed">

    <a class="{{ btn_class }}" data-toggle="dropdown" href="javascript:void(0)">
        {{ _('Add Filter') }}<b class="caret"></b>
    </a>
    <ul class="dropdown-menu field-filters">
        {% for flt_col in search_filters %}
        <li>
            <a href="javascript:void(0)" class="filter" onclick="return false;">{{ form[flt_col].label }}</a>
        </li>
        {% endfor %}
    </ul>
    
    {% for col in include_cols %}
   		{% set field = form[col] %}
		{% if field.name not in exclude_cols %}
			<tr>{{ lib.render_field_search(field) }}</tr>
		{% endif %}
	{% endfor %}
    
</table>
</div>
{{ lib.btn_search() }}
</form>

<script>
	alert('on');
	$('.filter').select2().on('change', function() {
        	alert('click');
        //return false;
    });
</script>
